body {
  font-family: sans-serif;
  background-color: #282c34; /* Cor de fundo cinza claro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente */
  min-height: 100vh;
  margin: 0;
}

.pokedex-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.pokedex-title {
  font-size: 2em;
  color: #333; /* Cor do título cinza escuro */
  margin-bottom: 10px;
}

.pokedex-subtitle {
  font-size: 1em;
  color: #666; /* Cinza escuro para o subtítulo */
}

.search-container {
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
  align-items: center; /* Centraliza os elementos horizontalmente */
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; 
  margin-bottom: 10px; 
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
}

.search-input::placeholder { /* Estiliza o placeholder */
  color: #999; /* Cor do placeholder */
  font-style: italic;
}

.search-button {
  background-color: #e91e63; /* Rosa para o botão */
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center; /* Centraliza o botão horizontalmente */
}

.filter-container {
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
  align-items: center; /* Centraliza os elementos horizontalmente */
  margin-bottom: 20px;
}

.filter-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; 
  color: #333; 
  width: 100%; /* Ocupa toda a largura do container */
  text-align-last: center; /* Centraliza o texto do select */
}

.pokemon-details {
  margin-bottom: 20px;
}

.pokemon-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.pokemon-name {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 5px;
}

.pokemon-info {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-button {
  background-color: #4caf50; /* Verde para os botões */
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin: 0 10px;
}